Babel==1.3
blinker==1.3
decorator==3.4.0
Flask==0.9
Flask-Babel==0.8
Flask-Login==0.2.11
Flask-Mail==0.7.6
Flask-OpenID==1.2.4
Flask-SQLAlchemy==0.16
Flask-WhooshAlchemy==0.54a0
Flask-WTF==0.8.4
flup==1.0.2
gunicorn==19.1.1
Jinja2==2.7.3
MarkupSafe==0.23
python-openid==2.2.5
pytz==2013b0
speaklater==1.3
SQLAlchemy==0.7.9
sqlalchemy-migrate==0.7.2
Tempita==0.5.2
Werkzeug==0.9.6
Whoosh==2.6.0
WTForms==2.0.1
